%tr
  %td
    = link_to admin_gallery_path(gallery) do
      - if gallery.photos.blank?
        =(fa_icon "picture-o 4x")
      - else
        =image_tag gallery.feature.image.thumb
  %td= pluralize(gallery.photos.length, 'photo')
  %td= link_to gallery.title, admin_gallery_path(gallery)
  %td.admin-table-center= link_to (fa_icon "pencil"), admin_gallery_path(gallery), class: 'admin-table-icon'
  %td.admin-table-center= link_to (fa_icon "trash-o"), [:admin, gallery], :method => :delete, :data => {:confirm => 'Are you sure?'}, class: 'admin-table-icon'
