- @gallery.photos.each do |photo|
  = image_tag photo.image.thumb
  %br
  %hr
  %small
    %br
    = photo.title
    = link_to 'show', admin_gallery_photo_post_path(@gallery, photo)    
    = link_to 'Edit', edit_admin_gallery_photo_post_path(@gallery, photo)
    = link_to 'Destroy', [:admin, @gallery, photo], :method => :delete, :data => { :confirm => 'Are you sure?' }
