= form_for :session, url: session_path do |form|
  .text-field
    = form.label :email
    = form.text_field :email, type: 'email', placeholder: 'Enter your email', class: 'sign-in-input'
  .password-field
    = form.label :password
    = form.password_field :password, placeholder: "Enter your password", class: "sign-in-input"
  .submit-field
    = form.submit 'Sign in', class: "sign-in-button"
  .other-links
    - if Clearance.configuration.allow_sign_up?
      = link_to t(".sign_up"), sign_up_path , class: "btn pink"
    = link_to t(".forgot_password"), new_password_path , class: "forgot-password"
