= form_for [:admin, @navigation] do |f|
  - if @navigation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@navigation.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @navigation.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    = f.text_field :title
  %hr
  = f.label "choose a page to link to:"
  #nav-link-page
    = select_tag "link", options_from_collection_for_select(@pages, "id", "title"), include_blank: "#{@navigation.link}", class: 'link-page-select'
    %br
    %br
    .link-toggle-external
      add external link
  #nav-link-external
    = f.text_field :link, :class => 'link-external-input'
    %br
    %br
    .link-toggle-page
      add internal page
  %hr
  %br
  .field
    = f.label :order
    = f.number_field :order, :class => 'someclass'
  .field
    = f.label 'Link Opens in new tab?'
    = f.select :new_tab, [['no', false], ['yes', true]]
  .actions
    = f.submit 'Save'

:javascript
  $('#nav-link-external').hide();
  $('.link-external-input').attr("disabled", true);
  $('.link-toggle-external').click(function() {
    $('#nav-link-page').hide();
    $('#nav-link-external').show();
    $('.link-page-select').attr("disabled", true);
    $('.link-external-input').attr("disabled", false);

  });
  $('.link-toggle-page').click(function() {
    $('#nav-link-external').hide();
    $('#nav-link-page').show();
    $('.link-external-input').attr("disabled", true);
    $('.link-page-select').attr("disabled", false);
  });
