%tr
  %td= navigation.title
  %td= navigation.link
  %td= navigation.order
  %td= navigation.new_tab
  %td.admin-table-center= link_to (fa_icon "pencil"), edit_admin_navigation_path(navigation), class: 'admin-table-icon'
  %td.admin-table-center= link_to (fa_icon "trash-o"), [:admin, navigation], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'admin-table-icon'
