.admin-form-card
  = form_for [:admin, @setting], html: {class: "pure-form pure-form-aligned"} do |f|
    %fieldset
      .pure-control-group
        = f.label :site_title
        = f.text_field :site_title, size: "60x1"
      .pure-control-group
        = f.label :site_description
        = f.text_area :site_description, size: "60x6"
      .actions.save-button-centered
        = f.submit 'Save', class: "admin-button__large"
