.admin-container
  %h3.admin-title__small
    = link_to (fa_icon "user-plus", text: 'Users'), admin_users_path
    &nbsp;>&nbsp;View
  .admin-form-card__view-image
    %p
      name:
      = @user.name
    %p
      email:
      = @user.email
    %p
      avatar:
      = image_tag @user.avatar
    %p
      = link_to (fa_icon "pencil", text:'Edit'), edit_admin_user_path(@user), class: 'admin-icon'
