.admin-form-card
  = form_for [:admin, @gallery, @photo_post], html: {class: "pure-form pure-form-aligned"} do |f|
    - if @photo_post.errors.any?
      #error_explanation
        %h2= "#{pluralize(@photo_post.errors.count, "error")} prohibited this photo_post from being saved:"
        %ul
          - @photo_post.errors.full_messages.each do |msg|
            %li= msg
    %fieldset
      .pure-control-group
        = f.label :image
        = f.file_field :image, placeholder: "Image"
        = f.hidden_field :image_cache
        = image_tag @photo_post.image.medium, class: "admin-edit-image"
      .pure-control-group
        = f.label :description
        = f.text_field :description, size: "60x1"
      .pure-control-group
        = f.label :title
        = f.text_area :title, size: "60x6"
      .actions.save-button-centered
        = f.submit 'Save', class: "admin-button__large"
