.admin-container
  %h3.admin-title__small
    = link_to (fa_icon "file-image-o", text: 'Galleries'), admin_galleries_path
    &nbsp;>&nbsp;
    = link_to @gallery.title, admin_gallery_path(@gallery)
    &nbsp;> View&nbsp;
    = @photo_post.title

  %p#notice= notice
  .admin-form-card__view-image
    %p
      = image_tag @photo_post.image.large
    %p
      %b Description:
      = @photo_post.description
    %p
      %b Title:
      = @photo_post.title
    %p
      %b Published:
      = @photo_post.published
    %p
      = link_to (fa_icon "pencil", text:'Edit'), edit_admin_gallery_photo_post_path(@gallery, @photo_post), class: 'admin-icon'
      &nbsp;&nbsp;&nbsp;&nbsp;
      = link_to (fa_icon "trash-o", text:'Delete'), [:admin, @gallery, @photo_post], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'admin-icon'
