%p#notice= notice

%p
  %b Image:
  = @photo_post.image
%p
  %b Description:
  = @photo_post.description
%p
  %b Title:
  = @photo_post.title
%p
  %b Published:
  = @photo_post.published
%p
  %b References:
  = @photo_post.references

= link_to 'Edit', edit_photo_post_path(@photo_post)
\|
= link_to 'Back', photo_posts_path
