<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
  <%= render "sidebar"%>
  <% if flash[:notice] %>
    <div class="notifier">
      <div class="notice"><%= flash[:notice] %></div>
    </div>
  <% end %>
  <% if flash[:error] %>
  <div class="notifier">
    <div class="error"><%= flash[:error] %></div>
  </div>
  <% end %>
  <%= render "content" %>
</body>
</html>
